@import "tailwindcss";

@font-face {
  font-family: Gothic A1;
  src: url("./assets/fonts/GothicA1-Light.ttf");
}

@font-face {
  font-family: Fredoka;
  src: url("./assets/fonts/Fredoka-SemiBold.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik-Bold.ttf");
}

body {
  @apply
    bg-[url('/pastel-background.jpg')]
    bg-cover
    bg-repeat-x
    h-full
    ;
}

@theme {
  --font-gothic: "Gothic A1", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
  --font-rubik: "Rubik", sans-serif;

  --animate-fadeAndZoomIn: fadeAndZoomIn 0.5s ease-out;
  @keyframes fadeAndZoomIn {
    0% {
      opacity: 0;
      transform: scale(95%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }

  --animate-slideIn: slideIn 0.3s ease-out;
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(3%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-zoomOut: zoomOut 0.3s ease-out;
  @keyframes zoomOut {
    0% {
      transform: scale(103%);
    }
    100% {
      transform: scale(100%);
    }
  }
}
