@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Gothic A1;
  src: url("./assets/fonts/GothicA1-Light.ttf");
}

@font-face {
  font-family: Fredoka;
  src: url("./assets/fonts/Fredoka-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Fredoka;
  src: url("./assets/fonts/Fredoka-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik-Bold.ttf");
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #5F6379;
  background-color: #FFFFFF;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #5F6379;
  background-color: #FFFFFF;
  cursor: pointer;
}

@theme {
  --color-pomodoro-dark-gray: #464646;
  --color-pomodoro-blue-gray: #5F6379;
  --color-pomodoro-black: #1F1F1F;
  --color-pomodoro-hover: #EAEAEA;

  --font-gothic: "Gothic A1", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
  --font-rubik: "Rubik", sans-serif;

  --animate-fadeAndZoomIn: fadeAndZoomIn 0.5s ease-out;
  @keyframes fadeAndZoomIn {
    0% {
      opacity: 0;
      transform: scale(95%);
    }
    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }

  --animate-slideIn: slideIn 0.3s ease-out;
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(3%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-zoomOut: zoomOut 0.3s ease-out;
  @keyframes zoomOut {
    0% {
      transform: scale(103%);
    }
    100% {
      transform: scale(100%);
    }
  }

  --animate-settingsFadeIn: settingsFadeIn 0.2s ease-out;
  @keyframes settingsFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-settingsFadeOut: settingsFadeOut 0.2s ease-out;
  @keyframes settingsFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-settingsSlideIn: settingsSlideIn 0.2s ease-out;
  @keyframes settingsSlideIn {
    0% {
      transform: translateY(-70%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-settingsSlideOut: settingsSlideOut 0.2s ease-out;
  @keyframes settingsSlideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(70%);
    }
  }
}
